<!DOCTYPE html>
<html lang="vi">

<head>
    <%-include('partials/head')%>
</head>

<body>
    <%-include('partials/loader')%>
        <%-include('partials/nav')%>
            <%-include('partials/header')%>
                <%-include(path)%>
                    <%-include('partials/scripts')%>
</body>

</html>